<html ng-app>
<head>
  <meta charset="utf8" />
  <title>AngularJS Tutorial</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-init="articles = ['Pizza Margherita', 'Pizza Tonno']">
  <div class="container">

    <form>
      <input type="text" ng-model="search">
      <p ng-show="search">Du suchst gerade nach: {{search}}</p>
    </form>

    <table class="table">
      <tr ng-repeat="article in ['Pizza Margherita', 'Pizza Tonno']">
        <td>{{article}}</td>
      </tr>
    </table>

    <table class="table">
      <tr ng-repeat="article in articles">
        <td>{{article}}</td>
      </tr>
    </table>

  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
</body>
</html>